body{
    margin: 0;
    padding: 0;
}
main{
    @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;    
    height: 100vh;
}

.card{
    background-color: #F4F4F4;
    border-radius: 10px;
    min-height: 700px;
    width: 80%;
    padding: 10em;
    box-sizing: border-box;
}

.title{
    font-family: 'Courier Prime', monospace;
    font-size: 30px;    
    text-align: center;
    font-weight: 700;
}

.quote{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    font-family: 'Courier Prime', monospace;
}

.autor{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    font-family: 'Courier Prime', monospace;
}

.category p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    text-decoration: underline;
}

.tag{
    width: 123px;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    cursor: pointer;
}

.tag:hover{
    background: #A0EBB5;    
}

.tags{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}